@import url('https://fonts.googleapis.com/css?family=Raleway');
/* font for header mainly */
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

body {
	background-image: url('../images/cheap_diagonal_fabric.png');
	font-family: 'Raleway', sans-serif;
}
/* establishes top banner */
.banner {
	background-color: #374459;
	border-bottom: 5px solid #93B06D;
	width: 100%;
	top: 0px !important;
	left: 0px !important;
	min-height: 15%;
	position: absolute;
}

h1 {
	font-family: 'Slabo 27px', serif;
	color: #EAE1D4;
    font-size: 58px;
    font-weight: 900 !important;
    text-align: center;
}

section {
	max-width: 980px;
	width: 100%;
	border: 5px solid #93B06D;
	background-color: #EAE1D4;
	margin: 180px auto;
	text-align: left;
	padding: 5% 5%;
}

.loginCentral {
	margin: 200px auto;
}
/* default login box */
.loginBox {
	overflow: auto;
	margin-right: 20%;
}
/* user registration box */
.registerBox {
	overflow: auto;
}
/* Establishes sticky footer */
footer {
	background-color: #374459;
	opacity: 0.75;
	text-align: center;
	border-top: solid 6px #93B06D;
	position: fixed;
	width: 100%;
	bottom: 0px !important;
	left: 0px !important;
	color: #EAE1D4;
}

input {
	width: 100%;
}
/* pictures in the carousel with dimensions */
.item,
.carousel {
	max-width: 360px;
	width: 100%;
	height: 200px;
}
/* carousel for listing dimesnions and behaviors */
.carousel {
	height: 200px;
	border: 1px solid #374459;
}